.boujee-text p {
  --bg-size: 400%;
  --color-one: #007cf0;
  --color-two: #00dfd8;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  animation: move-bg 16s infinite linear, change-text-color 16s infinite;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@keyframes change-text-color {
  0%,
  100% {
    color: inherit;
  }
  50% {
    color: transparent;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 16s linear infinite,
      change-text-color 16s linear infinite;
  }
}
